body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: white;
}
#app {
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.subtitle {
  font-size: 18px;
  margin-top: 5px;
}
.content {
  border-top: 2px solid black;
  padding-top: 10px;
  margin-top: 10px;
}
.content h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: bold;
}
.content p {
  font-size: 14px;
  margin: 0;
  padding: 0 0 0 20px;
}
.percentage {
  font-size: 225px;
  line-height: 1;
  font-weight: bold;
  margin: 20px auto;
  width: 100%;
  text-align: center;
}
.percentage span {
  font-size: 35px;
  position: relative;
  left: -15px;
}
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #f5f5f5;
  border-top: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-item {
  font-size: 14px;
  font-weight: bold;
}
.footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer-text {
  display: flex;
  align-items: center;
}
.round-button {
  width: 50px;  /* Set the width */
  height: 50px; /* Height should be the same as width for a perfect circle */
  border-radius: 50%; /* This makes the square a circle */
  border: none;  /* Optional: removes the default border */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  line-height: 50px; /* Aligns the text vertically */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}
.round-button.user-settings {
  width: 25px;
  height: 25px;
}
.dislike {
  background-color: dimgray;
  width: 40px;
  height: 40px;
}
.chat {
  background-color: skyblue;
  margin-right: 10px;
}
.like {
  background-color: lightcoral;
}
#interaction-controls, #chat-input {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  left: 0;
  bottom: 70px;
  width: 100%;
}
#chat-input {
  background-color: aliceblue;
  bottom: 60px;
  padding: 10px 0;
}
.user-interaction-options {
  display: flex;
}
#header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#header h1 {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
}
#header .avatar, #preferences-profile .avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  background-color: lightskyblue;
  border: #3a4150 2px solid;
}
#preferences-profile .avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: #3a4150 5px solid;
}
#preferences-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#preferences-profile h1 {
  text-align: center;
  margin: 20px 0 0 0;
}
#preferences-profile .customize {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 75%;
}
#profile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  transition: transform 0.5s ease;
  user-select: none;
  touch-action: none;
}
#profile-menu .menu{
  width: 300px;
  background-color: lightcyan;
  height: 100vh;
  padding: 20px 0 0 0;
}
.move-right {
  transform: translateX(300px); /* Move the element 300px to the right */
}
.settings {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 0 20px 0;
}
.profile {
  background-color: lightslategray;
  width: 100%;
}
.profile .upload-area {
  width: 90%;
  height: 100px;
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
/* chat */
#chat-input input {
  border-radius: 20px; /* Adjust as needed for the desired roundness */
  border: none; /* Removes the default border */
  outline: none; /* Removes the outline on focus */
  padding: 10px; /* Adds some space inside the input field */
  width: 250px; /* Sets a specific width for the input field */
  font-size: 16px; /* Sets the text size inside the input field */
  background-color: #f0f0f0; /* Sets a flat background color */
  box-shadow: none; /* Ensures no shadow for a flat design */
}

/* Optional: Style for when the input field is in focus */
#chat-input input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow or glow */
}
.chat-title {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: aliceblue;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}
.chat-title a {
  font-size: larger;
  text-decoration: none;
  font-weight: bold;
}
#chat-zone {
  margin: 60px 0 0 0;
  background: 0 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 120px 0;
}

#chat-zone .chat-messages .message-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 16px 4px;
margin-bottom: 20px;
}

#chat-zone .chat-messages .message-item.moderator+.customer, #chat-zone .chat-messages .message-item.customer+.moderator {
  padding-top: 20px;
  margin-top: 20px;
}

#chat-zone .chat-messages .message-item.customer {
  padding-left: 40px;
}

#chat-zone .chat-messages .message-item .avatar {
  position: absolute;
  left: -32px;
  margin: 0;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
#chat-zone img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

#chat-zone .message-item.moderator .message-bloc {
  background-color: #3a4150;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  max-width: 100%;
  border-radius: 5px 20px 20px 5px;
}

#chat-zone .message-item.customer .message-bloc {
  color: rgba(0,0,0,.87);
  background-color: #e0e0e0;
}

#chat-zone .chat-messages .message-item.customer .message-bloc {
  margin-left: auto;
}

#chat-zone .chat-messages .message-item .message-bloc {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  max-width: 100%;
}

#chat-zone .chat-messages .message-item .message-bloc .message {
  white-space: pre-wrap;
  line-height: 1.2;
}

#chat-zone .chat-messages .message-item.customer .message-bloc .date-time {
  justify-content: flex-end;
  right: 0;
  margin-right: 12px;
}

#chat-zone .chat-messages .message-item .message-bloc .date-time {
  position: absolute;
  display: flex;
  width: 100%;
  font-size: 11px;
  margin-top: 8px;
  top: 100%;
  left: 0;
  white-space: nowrap;
  color: rgba(0,0,0,.54);
}

#chat-zone .message-item.customer .message-bloc {
  border-radius: 20px 20px 20px 5px;
}

#chat-zone .message-item.moderator .message-bloc {
  border-radius: 20px 5px 20px 20px;
}

/* file upload */
*, *:after, *:before {
  box-sizing: border-box;
}

:root {
  --c-action-primary: #2e44ff;
  --c-action-primary-accent: #e9e5ff;
  --c-action-secondary: #e5e5e5;
  --c-text-primary: #0d0f21;
  --c-text-secondary: #6a6b76;
  --c-background-primary: #d0d1de;
  --c-primary-disabled: #b7bff9;
  --c-primary-hover: #5767ff;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--c-text-primary);
  background-color: var(--c-background-primary);
  line-height: 1.5;
}

input, button, select, textarea {
  font: inherit;
}

.modal {
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1rem;
}

.logo-circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--c-action-primary-accent);
}
.logo-circle svg {
  max-width: 1.5rem;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  border: none;
  background-color: transparent;
}
.btn-close:hover, .btn-close:focus {
  background-color: var(--c-action-primary-accent);
}

.modal-body {
  padding: 1rem 1.5rem;
}

.modal-title {
  font-weight: 700;
}

.modal-description {
  color: var(--c-text-secondary);
}

.upload-area {
  margin-top: 1.25rem;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: transparent;
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-area:hover, .upload-area:focus {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.upload-area-icon {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
}
.upload-area-icon svg {
  max-height: 100%;
  max-width: 100%;
}

.upload-area-title {
  margin-top: 1rem;
  display: block;
  font-weight: 700;
  color: var(--c-text-primary);
}

.upload-area-description {
  display: block;
  color: var(--c-text-secondary);
}
.upload-area-description strong {
  color: var(--c-action-primary);
  font-weight: 700;
}

.modal-footer {
  padding: 1rem 1.5rem 1.5rem;
  display: flex;
  justify-content: flex-end;
}
.modal-footer [class*=btn-] {
  margin-left: 0.75rem;
}

.btn-secondary, .btn-primary {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: 2px solid var(--c-action-secondary);
  border-radius: 0.25rem;
  background-color: transparent;
}

.btn-primary:disabled {
  background-color: var(--c-primary-disabled);
  color: var(--c-action-primary-accent);
  border-color: var(--c-action-secondary);
}

.btn-primary:not(:disabled):hover {
  background-color: var(--c-primary-hover);
  color: var(--c-action-primary-accent);
  border-color: var(--c-action-secondary);
}

.btn-primary {
  color: #FFF;
  background-color: var(--c-action-primary);
  border-color: var(--c-action-primary);
}

/* Optional: Style for when the input field is in focus */
#drop-area {
  border: 2px dashed #aaa;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s;
}

#drop-area.highlight {
  background-color: #f0f0f0;
}

#file-upload-container {
  width: 300px; /* Adjust as needed */
  margin: auto;
}

#cancel-btn, #upload-btn {
  margin-top: 10px;
  margin-right: 5px;
}

#file-to-upload {
  width: 100%;
  padding: 0 0 0 20px;
}

#file-to-upload p {
  font-size: smaller;
}

/* icons */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

/* you simply need to change the color of the background of each div - these are at the bottom of the css */

.icon {
  margin:5px;
  width:40px;
  height:50px;
  background:#000;
  border-radius:3px;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height:30px;
  font-size:12px;
  padding-left:8px;
  text-shadow: 3px 1px 1px rgba(0,0,0,0.4);
  -webkit-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -ms-transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  transition:all 300ms ease-in-out;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d; 
  -webkit-perspective:150;
  perspective:150;
  -webkit-transform: perspective(150);
  -moz-transform: perspective(150);
  -ms-transform: perspective(150);
  -o-transform: perspective(150);
  transform: perspective(150);
}
.icon:before {
	content:'';
  float:right;
  width:10px;
  height:10px;
  background-image:-webkit-linear-gradient(top right, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 50%);
  background-image:linear-gradient(to bottom left, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 50%);
  border-radius:0 0 0 6px;
}
.icon:after {
  content:'';
  float:right;
  width:10px;
  height:10px;
  background-image:-webkit-linear-gradient(top right, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 50%);
  background-image:linear-gradient(to bottom left, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 50%);
  position:relative;
  top:-30px;
  left:0px;
}
.icon:hover {
  -webkit-transform:translateZ(50px);
  -moz-transform:scale(1.1);
  transform:scale(1.1);
}
/* just need to change the backgrounds */
.pdf {
  background:#c7211d;
}
.doc {
  background:#4766b3;
}
.txt {
  background:#63b345;
}

/* login */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  /*background: #76b852; fallback for old browsers
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
/* .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
} */
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}