<div class="footer-item">
    <a href="/" class="footer-link">
        <img src="assets/home.svg" alt="Home" class="footer-icon">
        <span class="footer-text">Home</span>
    </a>
</div>
<div class="footer-item">
    <a href="#/foryou/12345679" class="footer-link">
        <img src="assets/foryou.svg" alt="For You" class="footer-icon">
        <span class="footer-text">For You</span>
    </a>
</div>
<div class="footer-item">
    <a href="#/messages/12345679" class="footer-link">
        <img src="assets/messages.svg" alt="Messages" class="footer-icon">
        <span class="footer-text">Messages</span>
    </a>
</div>
<div class="footer-item">
    <a href="#/profile/123456789" class="footer-link">
        <img src="assets/profile.svg" alt="Profile" class="footer-icon">
        <span class="footer-text">Profile</span>
    </a>
</div>