<div class="container">
  <h1 class="title"></h1>
  <div class="percentage"></div>
  <div class="content">
    <h2>Job Description</h2>
    <p></p>
    <h2>Responsibilities</h2>
    <ul id="responsibilities"></ul>
    <h2>Required Skills</h2>
    <ul id="required-skills"></ul>
    <h2>Soft Skills</h2>
    <ul id="soft-skills"></ul>
    <h2>Benefits</h2>
    <ul id="benefits"></ul>
  </div>
  <div id="interaction-controls">
    <button class="round-button dislike"></button>
    <div class="user-interaction-options">
      <button class="round-button chat"></button>
      <button class="round-button like"></button>
    </div>    
  </div>  
</div